            <div class="card-started" id="home-card">

                <!--
					Profile
				-->
                <div class="profile
																 rounded-style-2								">
                    <div class="profile-content">


                        <!-- profile video -->
                        <div class="slide">
                            <video autoplay muted loop controls playsinline id="myVideo">
                                <source src="/media/pexels-mikhail-nilov-6963744-8.mp4"
                                    type="video/mp4">
                            </video>
                        </div>

                        <!-- profile slideshow -->

                        <!-- profile photo -->
                        <div class="image">
                            <a href="/">
                                <img src=/media/profile-pic.jpg alt="Mohamed Aly Amin">
                            </a>
                        </div>

                        <!-- profile titles -->
                        <div class="title">{{ site.Data.profile.name }}</div>

                        <div class="subtitle subtitle-typed">
                            <div class="typing-title">
                            <p>DevSecOps Engineer</p>
                            <p>Security Engineer</p>
                            <p>Backend Developer (Go)</p>
                            <p>Site Reliability Engineer</p>
                            <p>Solutions Engineer</p>
			    <p>Security-ML Researcher</p>
                            </div>
                        </div>

                        <!-- profile socials -->
                        <div class="social">
{{ range site.Data.profile.socials }}                            <a target="_blank" href="{{ .url }}">
                                <span class="{{ .icon }}"></span>
                            </a>
{{ end }}                        </div>

                    </div>

                    <!-- profile buttons -->
                    <div class="lnks">
                        <a href="/media/Mohamed_Aly_Amin_CV.pdf"
                            class="lnk solid-style" download>
                            <span class="text">Download CV</span>
                            <span class="ion ion-android-download"></span>
                        </a>
                    </div>

                </div>

            </div>

            <div class="s_overlay"></div>
            <div class="content-sidebar">
