            <div class="card-inner animated active" id="card-home-e">
                <div class="card-wrap">


                    <div id="post-30" class="post-30 page type-page status-publish hentry">
                        <div data-elementor-type="wp-page" data-elementor-id="30" class="elementor elementor-30">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-1368f2f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="1368f2f" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8d69b8b"
                                        data-id="8d69b8b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b939dc4 elementor-widget elementor-widget-ryancv-about-me"
                                                data-id="b939dc4" data-element_type="widget"
                                                data-widget_type="ryancv-about-me.default">
                                                <div class="elementor-widget-container">

                                                    <!-- About -->
                                                    <div class="content about">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>About Me 👋</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row">

                                                            <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
                                                                <div class="text-box">
                                                                    <div>
                                                                        <p><strong>Hello! I’m Mohamed Aly
                                                                                Amin.</strong><br>Security and
                                                                            infrastructure engineer based in Ankara.
                                                                            I work where security meets systems:
                                                                            building the pipelines, then making sure
                                                                            they hold up. Most recently I built a
                                                                            real-time stream filtering engine in Go
                                                                            (Kafka, Redis, ClickHouse, OpenTelemetry);
                                                                            before that I founded and led a
                                                                            six-engineer DevSecOps team that shipped
                                                                            a SIEM/SOAR platform in three months on
                                                                            open-source tools. First author on a
                                                                            peer-reviewed intrusion-detection paper
                                                                            (AINA 2024, Springer).
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

         <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
    <div class="info-list">
        <ul>
            <li>
                <strong><span>Residence: </span></strong>
                <span>Turkey</span>
            </li>
            <li>
                <strong><span>Freelance: </span></strong>
                <span>Available</span>
            </li>
            <li>
                <strong><span>Address: </span></strong>
                <span>Ankara, Turkey</span>
            </li>
        </ul>
    </div>
</div>


                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-49a456d elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="49a456d" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-48066de"
                                        data-id="48066de" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-32a9446 elementor-widget elementor-widget-ryancv-testimonials"
                                                data-id="32a9446" data-element_type="widget"
                                                data-widget_type="ryancv-testimonials.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Testimonials -->

                                                    <div class="content testimonials">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Testimonials</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row testimonial-items">

                                                            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                                                <div class="revs-carousel ">
                                                                    <div class="swiper-container"
                                                                        data-swiper-autoplay="0"
                                                                        data-swiper-delay="5000" data-swiper-loop="0">
                                                                        <div class="swiper-wrapper">
                                                                            <div class="swiper-slide">
                                                                                <div class="revs-item">
                                                                                    <div class="text">
                                                                                        <div>
                                                                                            The Legend. </div>
                                                                                    </div>
                                                                                    <div class="user">
                                                                                        <div class="info">
                                                                                            <div class="name">
                                                                                                <span>
                                                                                                    Özgul doğan </span>
                                                                                            </div>
                                                                                            <div class="company">
                                                                                                <span>
                                                                                                    Cyber Security
                                                                                                    Expert, InterProbe
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="clear"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="swiper-pagination"></div>
                                                                </div>
                                                            </div>

                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-18b4760 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="18b4760" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-094a289"
                                        data-id="094a289" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-35e1624 elementor-widget elementor-widget-ryancv-fun-facts"
                                                data-id="35e1624" data-element_type="widget"
                                                data-widget_type="ryancv-fun-facts.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Fun Fact -->
                                                    <div class="content fuct">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Fun Facts</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row fuct-items">

                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-trophy"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Black belt in Karate /
                                                                            Ex-Body builder </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-certificate"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            International Chemistry Olympiad Student
                                                                            (USA) </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-language"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Fluent in 3 Languages </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-flag"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            5 Countries Visited </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-section-full_width elementor-section-height-default">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="content services">
                                                <div class="title"><span>My Services</span></div>
                                                <div class="row service-items">
{{ range site.Data.services.services }}
                                                    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                                        <div class="service-item">
                                                            <div class="name"><span>{{ .title }}</span></div>
                                                            <div class="single-post-text"><p>{{ .body }}</p></div>
                                                        </div>
                                                    </div>
{{ end }}
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- #post-30 -->
                </div>
            </div>


