            <div class="card-inner animated active" id="card-home-e">
                <div class="card-wrap">


                    <div id="post-30" class="post-30 page type-page status-publish hentry">
                        <div data-elementor-type="wp-page" data-elementor-id="30" class="elementor elementor-30">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-1368f2f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="1368f2f" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8d69b8b"
                                        data-id="8d69b8b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b939dc4 elementor-widget elementor-widget-ryancv-about-me"
                                                data-id="b939dc4" data-element_type="widget"
                                                data-widget_type="ryancv-about-me.default">
                                                <div class="elementor-widget-container">

                                                    <!-- About -->
                                                    <div class="content about">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>About Me 👋</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row">

                                                            <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
                                                                <div class="text-box">
                                                                    <div>
                                                                        <p><strong>Hello! I’m Mohamed Aly
                                                                                Amin.</strong><br>Full stack security
                                                                            developer from Turkey, Ankara. I have rich
                                                                            experience in Cloud Computing, Crypto &amp;
                                                                            Cyber Security, also I am good at Big
                                                                            Data-analytics &amp; scientific computing.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

         <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
    <div class="info-list">
        <ul>
            <li>
                <strong><span>Age: </span></strong>
                <span id="age"></span>
            </li>
            <li>
                <strong><span>Residence: </span></strong>
                <span>Turkey</span>
            </li>
            <li>
                <strong><span>Freelance: </span></strong>
                <span>Available</span>
            </li>
            <li>
                <strong><span>Address: </span></strong>
                <span>Ankara, Turkey</span>
            </li>
        </ul>
    </div>
</div>
<input type="hidden" id="dob" value="1995-12-10">
<script>
window.onload = function calculateAge() {
    var dob = new Date(document.getElementById('dob').value);
    var today = new Date();
    var age = today.getFullYear() - dob.getFullYear();
    var m = today.getMonth() - dob.getMonth();

    if (m < 0 || (m === 0 && today.getDate() < dob.getDate())) {
        age--;
    }

    document.getElementById('age').innerText = age;
}
</script>


                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-ac2a78f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="ac2a78f" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-15d3f26"
                                        data-id="15d3f26" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-7412363 elementor-widget elementor-widget-ryancv-services"
                                                data-id="7412363" data-element_type="widget"
                                                data-widget_type="ryancv-services.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Services -->
                                                    <div class="content services">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>My Services</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row service-items border-line-v">

                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-columns"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Web-site Development </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Modern and deployment-ready website that
                                                                                will help you reach all of your
                                                                                marketin targets</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-cloud"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Cloud/on-premise System Deplyments </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Desgin, Integrate, Test and Deploy your
                                                                                services.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-server"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Cyber Security Analysis </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Process of visibility and activity on
                                                                                your servers, by tracking and monitoring
                                                                                server Security.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-laptop"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Pentesting </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Security consultant can check the code
                                                                                and scan for vulnerabilities.</p>
                                                                            <p> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-line-chart"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Statistical/Technical Analysis </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Crypto currencies tracking ,<br>Day &amp;
                                                                                High frequency trading.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- service item -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-bar-chart"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Scientific Computing &amp; Data anlaytics
                                                                        </span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <p>Code-optimization, GPU utilization.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clear"></div>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-4ab94b5 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="4ab94b5" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7bb6851"
                                        data-id="7bb6851" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-cd90f3f elementor-widget elementor-widget-ryancv-services"
                                                data-id="cd90f3f" data-element_type="widget"
                                                data-widget_type="ryancv-services.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Service Offerings -->
                                                    <div class="content services">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Service Offerings</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row service-items border-line-v">

                                                            <!-- Freelancing services -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-battery-quarter"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>Freelancing</span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <ul style="list-style: disc; padding-left: 20px; margin: 10px 0;">
                                                                                <li>Full-stack Development</li>
                                                                                <li>Cloud Deployments</li>
                                                                                <li>Pentesting</li>
                                                                                <li>Data modeling</li>
                                                                                <li>Web3 Development <strong>new</strong></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Contract services -->
                                                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                                                <div class="service-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-battery-three-quarters"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>Contract</span>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div>
                                                                            <ul style="list-style: disc; padding-left: 20px; margin: 10px 0;">
                                                                                <li>All Freelancing Services +</li>
                                                                                <li>On-premise Deployments</li>
                                                                                <li>Cyber Security Analysis</li>
                                                                                <li>Code-optimization</li>
                                                                                <li>Blockchain Security <strong>new</strong></li>
                                                                                <li>Financial Consultancy <strong>new</strong></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clear"></div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-49a456d elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="49a456d" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-48066de"
                                        data-id="48066de" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-32a9446 elementor-widget elementor-widget-ryancv-testimonials"
                                                data-id="32a9446" data-element_type="widget"
                                                data-widget_type="ryancv-testimonials.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Testimonials -->

                                                    <div class="content testimonials">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Testimonials</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row testimonial-items">

                                                            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                                                <div class="revs-carousel ">
                                                                    <div class="swiper-container"
                                                                        data-swiper-autoplay="0"
                                                                        data-swiper-delay="5000" data-swiper-loop="0">
                                                                        <div class="swiper-wrapper">
                                                                            <div class="swiper-slide">
                                                                                <div class="revs-item">
                                                                                    <div class="text">
                                                                                        <div>
                                                                                            The Legend. </div>
                                                                                    </div>
                                                                                    <div class="user">
                                                                                        <div class="info">
                                                                                            <div class="name">
                                                                                                <span>
                                                                                                    Özgul doğan </span>
                                                                                            </div>
                                                                                            <div class="company">
                                                                                                <span>
                                                                                                    Cyber Security
                                                                                                    Expert, InterProbe
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="clear"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="swiper-pagination"></div>
                                                                </div>
                                                            </div>

                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-18b4760 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="18b4760" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-094a289"
                                        data-id="094a289" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-35e1624 elementor-widget elementor-widget-ryancv-fun-facts"
                                                data-id="35e1624" data-element_type="widget"
                                                data-widget_type="ryancv-fun-facts.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Fun Fact -->
                                                    <div class="content fuct">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Fun Facts</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row fuct-items">

                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-trophy"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Black belt in Karate /
                                                                            Ex-Body builder </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-certificate"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            International Chemistry Olympiad Student
                                                                            (USA) </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-language"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            Fluent in 3 Languages </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fuct item -->
                                                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                                                <div class="fuct-item">
                                                                    <div class="icon">
                                                                        <span class="fa fa-flag"></span>
                                                                    </div>
                                                                    <div class="name">
                                                                        <span>
                                                                            5 Countries Visited </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- #post-30 -->
                </div>
            </div>


