            <div class="card-inner" id="card-contacts-e">
                <div class="card-wrap">


                    <div id="post-53" class="post-53 page type-page status-publish hentry">
                        <div data-elementor-type="wp-page" data-elementor-id="53" class="elementor elementor-53">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-22b6cc0 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="22b6cc0" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7400cb2"
                                        data-id="7400cb2" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-bc6e79d elementor-widget elementor-widget-ryancv-custom-text"
                                                data-id="bc6e79d" data-element_type="widget"
                                                data-widget_type="ryancv-custom-text.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Custom Text -->
                                                    <div class="content custom-text">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Get in Touch</span>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-b1f83ef elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="b1f83ef" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e9080bc"
                                        data-id="e9080bc" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-5fa6e40 elementor-widget elementor-widget-google_maps"
                                                data-id="5fa6e40" data-element_type="widget"
                                                data-widget_type="google_maps.default">
                                                <div class="elementor-widget-container">
                                                    <style>
                                                        /*! elementor - v3.7.0 - 08-08-2022 */
                                                        .elementor-widget-google_maps .elementor-widget-container {
                                                            overflow: hidden
                                                        }

                                                        .elementor-widget-google_maps iframe {
                                                            height: 300px
                                                        }
                                                    </style>
                                                    <div class="elementor-custom-embed">
                                                        <iframe frameborder="0" scrolling="no" marginheight="0"
                                                            marginwidth="0"
                                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.083043398873!2d32.797960315895004!3d39.89477297942917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34605a9a8faa7%3A0x8d0a29803320803b!2zxLDFn8OnaSBCbG9rbGFyxLEsIDE1MjMuIFNrLiBObzo3LCAwNjUzMCDDh2Fua2F5YS9BbmthcmE!5e0!3m2!1sen!2str!4v1661594765859!5m2!1sen!2str"
                                                            width="600" height="450" style="border:0;"
                                                            allowfullscreen="" loading="lazy"
                                                            referrerpolicy="no-referrer-when-downgrade"
                                                            title="London Eye, London, United Kingdom"
                                                            aria-label="London Eye, London, United Kingdom"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section> -->
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-2f63e83 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="2f63e83" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb174a3"
                                        data-id="fb174a3" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-d76ea60 elementor-widget elementor-widget-ryancv-info-list"
                                                data-id="d76ea60" data-element_type="widget"
                                                data-widget_type="ryancv-info-list.default">
                                                <div class="elementor-widget-container">

                                                    <!-- content -->
                                                    <div class="row">

                                                        <div
                                                            class="col col-d-12 col-t-12 col-m-12 col-list-2 border-line-v">
                                                            <div class="info-list">
                                                                <ul>
                                                                    <li>
                                                                        <strong>
                                                                            <span>
                                                                                Address: </span>
                                                                        </strong>
                                                                        <span>
                                                                            Çankaya/Ankara </span>
                                                                    </li>
                                                                    <li>
                                                                        <strong>
                                                                            <span>
                                                                                Email: </span>
                                                                        </strong>
                                                                        <span>contact@mohamedalyamin.com</span>
                                                                    </li>
                                                                    <li>
                                                                        <strong>
                                                                            <span>
                                                                                Phone: </span>
                                                                        </strong>
                                                                        <span>
                                                                            +90 552 554 8660 </span>
                                                                    </li>
                                                                    <li>
                                                                        <strong>
                                                                            <span>
                                                                                Freelance: </span>
                                                                        </strong>
                                                                        <span>
                                                                            Available </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="clear"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-3fc0411 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="3fc0411" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7d1ea59"
                                        data-id="7d1ea59" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-30bf3ee elementor-widget elementor-widget-spacer"
                                                data-id="30bf3ee" data-element_type="widget"
                                                data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-d642373 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="d642373" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1b1aebf"
                                        data-id="1b1aebf" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-6e2ae54 elementor-widget elementor-widget-ryancv-cf7-form"
                                                data-id="6e2ae54" data-element_type="widget"
                                                data-widget_type="ryancv-cf7-form.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Contact Form -->
                                                    <div class="content contacts">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Contact Form</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row">
                                                            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                                                <div class="contact_form">
                                                                    <div role="form" class="wpcf7" id="wpcf7-f62-o1"
                                                                        lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response">
                                                                            <p role="status" aria-live="polite"
                                                                                aria-atomic="true"></p>
                                                                            <ul></ul>
                                                                        </div>
                                                                        <form action="/#wpcf7-f62-o1" method="post"
                                                                            class="wpcf7-form init"
                                                                            novalidate="novalidate" data-status="init">
                                                                            <div style="display: none;">
                                                                                <input type="hidden" name="_wpcf7"
                                                                                    value="62">
                                                                                <input type="hidden"
                                                                                    name="_wpcf7_version" value="5.6.2">
                                                                                <input type="hidden"
                                                                                    name="_wpcf7_locale" value="en_US">
                                                                                <input type="hidden"
                                                                                    name="_wpcf7_unit_tag"
                                                                                    value="wpcf7-f62-o1">
                                                                                <input type="hidden"
                                                                                    name="_wpcf7_container_post"
                                                                                    value="0">
                                                                                <input type="hidden"
                                                                                    name="_wpcf7_posted_data_hash"
                                                                                    value="">
                                                                            </div>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col col-d-6 col-t-6 col-m-12">
                                                                                    <div class="group-val">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="your-name"><input
                                                                                                type="text"
                                                                                                name="your-name"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Full Name"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="col col-d-6 col-t-6 col-m-12">
                                                                                    <div class="group-val">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="your-email"><input
                                                                                                type="email"
                                                                                                name="your-email"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Email Address"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="col col-d-12 col-t-12 col-m-12">
                                                                                    <div class="group-val">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="your-message"><textarea
                                                                                                name="your-message"
                                                                                                cols="40" rows="10"
                                                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Your Message"></textarea></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="align-left"><button
                                                                                    type="submit" class="button"><span
                                                                                        class="text">Send
                                                                                        Message</span><span
                                                                                        class="arrow"></span></button>
                                                                            </div>
                                                                            <div class="wpcf7-response-output"
                                                                                aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- #post-53 -->
                </div>
            </div>



        </div>
    </div>

    <style>
        .wp-container-1>.alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        .wp-container-1>.alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        .wp-container-1>.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    </style>
    <style>
        .wp-container-2>.alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        .wp-container-2>.alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        .wp-container-2>.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    </style>
    <style>
        .wp-container-3>.alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        .wp-container-3>.alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        .wp-container-3>.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    </style>
    <style>
        .wp-container-4>.alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        .wp-container-4>.alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        .wp-container-4>.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    </style>
