            <div class="card-inner" id="card-resume-e">
                <div class="card-wrap">
                    <div id="post-41" class="post-41 page type-page status-publish hentry">
                        <div data-elementor-type="wp-page" data-elementor-id="41" class="elementor elementor-41">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-59895bb elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="59895bb" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-be20ba8"
                                        data-id="be20ba8" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-26b97d8 elementor-widget elementor-widget-ryancv-custom-text"
                                                data-id="26b97d8" data-element_type="widget"
                                                data-widget_type="ryancv-custom-text.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Custom Text -->
                                                    <div class="content custom-text">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Resume</span>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-2926877 elementor-section-full_width row elementor-section-height-default elementor-section-height-default"
                                data-id="2926877" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-24104fa col"
                                        data-id="24104fa" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a38a935 elementor-widget elementor-widget-ryancv-resume"
                                                data-id="a38a935" data-element_type="widget"
                                                data-widget_type="ryancv-resume.default">
                                                <div class="elementor-widget-container">

                                                    <!-- resume item -->
                                                    <div class="resume-item">
                                                        <div class="resume-title border-line-h">
                                                            <div class="icon"><i class="fa fa-briefcase"></i></div>
                                                            <div class="name">
                                                                <span>Experience</span>
                                                            </div>
                                                        </div>

                                                        <div class="resume-items">
{{ range site.Data.resume.experience }}
                                                            <div class="resume-item border-line-h{{ if in .period "Present" }} active{{ end }}">
                                                                <div class="image">{{ with .logo }}<img src="{{ . }}" alt="">{{ else }}<img alt="">{{ end }}</div>
                                                                <div class="date"><span>{{ .period }}</span></div>
                                                                <div class="name"><span>{{ .title }}</span></div>
                                                                {{ with .company }}<div class="company"><span>{{ . }}</span></div>{{ end }}
                                                                <div class="single-post-text"><div>{{ .body_html | safeHTML }}</div></div>
                                                            </div>
{{ end }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-845c1d0 col border-line-v"
                                        data-id="845c1d0" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a64937a elementor-widget elementor-widget-ryancv-resume"
                                                data-id="a64937a" data-element_type="widget"
                                                data-widget_type="ryancv-resume.default">
                                                <div class="elementor-widget-container">

                                                    <!-- resume item -->
                                                    <div class="resume-item">
                                                        <div class="resume-title border-line-h">
                                                            <div class="icon"><i class="fa fa-university"></i></div>
                                                            <div class="name">
                                                                <span>Education</span>
                                                            </div>
                                                        </div>

                                                        <div class="resume-items">
{{ range $i, $e := site.Data.resume.education }}
                                                            <div class="resume-item border-line-h{{ if eq $i 0 }} active{{ end }}">
                                                                <div class="image">{{ with $e.logo }}<img src="{{ . }}" alt="">{{ else }}<img alt="">{{ end }}</div>
                                                                <div class="date"><span>{{ $e.period }}</span></div>
                                                                <div class="name"><span>{{ $e.title }}</span></div>
                                                                {{ with $e.place }}<div class="company"><span>{{ . }}</span></div>{{ end }}
                                                                <div class="single-post-text"><div>{{ $e.body_html | safeHTML }}</div></div>
                                                            </div>
{{ end }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-0631c8a elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="0631c8a" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-573fdc8"
                                        data-id="573fdc8" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-3952aad elementor-widget elementor-widget-spacer"
                                                data-id="3952aad" data-element_type="widget"
                                                data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <style>
                                                        /*! elementor - v3.7.0 - 08-08-2022 */
                                                        .elementor-column .elementor-spacer-inner {
                                                            height: var(--spacer-size)
                                                        }

                                                        .e-container {
                                                            --container-widget-width: 100%
                                                        }

                                                        .e-container>.elementor-widget-spacer {
                                                            width: var(--container-widget-width, var(--spacer-size));
                                                            -ms-flex-item-align: stretch;
                                                            align-self: stretch;
                                                            -ms-flex-negative: 0;
                                                            flex-shrink: 0
                                                        }

                                                        .e-container>.elementor-widget-spacer>.elementor-widget-container,
                                                        .e-container>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer {
                                                            height: 100%
                                                        }

                                                        .e-container>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner {
                                                            height: var(--container-widget-height, var(--spacer-size))
                                                        }
                                                    </style>
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-deefe3f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="deefe3f" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8ec419d"
                                        data-id="8ec419d" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-cae1473 elementor-widget elementor-widget-ryancv-custom-text"
                                                data-id="cae1473" data-element_type="widget"
                                                data-widget_type="ryancv-custom-text.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Custom Text -->
                                                    <div class="content custom-text">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Skills</span>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-section-full_width row elementor-section-height-default">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column col">
                                        <div class="elementor-widget-wrap elementor-element-populated">
{{ range site.Data.skills.categories }}
                                        <div class="skills-item">
                                            <div class="skills-list list">
                                                <div class="skill-title border-line-h">
                                                    <div class="icon"><i class="fa fa-code"></i></div>
                                                    <div class="name"><span>{{ .label }}</span></div>
                                                </div>
                                                <ul>
                                                    <li class="border-line-h">
                                                        <div class="name"><span>{{ .details }}</span></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
{{ end }}
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-section-full_width row elementor-section-height-default">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column col">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="content custom-text">
                                            <div class="title"><span>Publications</span></div>
                                        </div>
                                        <div class="skills-item">
                                            <div class="skills-list list">
                                                <ul>
{{ range site.Data.publications.publications }}
                                                    <li class="border-line-h">
                                                        <div class="name"><span>{{ .title }} ({{ .venue }}, {{ .date }}){{ with .note }} {{ . }}{{ end }}{{ with .url }} &middot; <a href="{{ . }}" target="_blank">paper</a>{{ end }}</span></div>
                                                    </li>
{{ end }}
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-section-full_width row elementor-section-height-default">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column col">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="content custom-text">
                                            <div class="title"><span>Honors</span></div>
                                        </div>
                                        <div class="skills-item">
                                            <div class="skills-list list">
                                                <ul>
{{ range site.Data.honors.honors }}
                                                    <li class="border-line-h">
                                                        <div class="name"><span><strong>{{ .title }}</strong> {{ .detail }}</span></div>
                                                    </li>
{{ end }}
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-section-full_width row elementor-section-height-default">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column col">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="content custom-text">
                                            <div class="title"><span>Projects</span></div>
                                        </div>
                                        <div class="skills-item">
                                            <div class="skills-list list">
                                                <ul>
{{ range site.Data.projects.projects }}
                                                    <li class="border-line-h">
                                                        <div class="name"><span><strong>{{ .name }}</strong> ({{ .date }}). {{ .body }}{{ with .url }} <a href="{{ . }}" target="_blank">GitHub</a>{{ end }}</span></div>
                                                    </li>
{{ end }}
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-d0f4f70 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="d0f4f70" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fab72a6"
                                        data-id="fab72a6" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-6309109 elementor-widget elementor-widget-spacer"
                                                data-id="6309109" data-element_type="widget"
                                                data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-96b3ac3 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="96b3ac3" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-596e4a2"
                                        data-id="596e4a2" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4be0050 elementor-widget elementor-widget-ryancv-quote"
                                                data-id="4be0050" data-element_type="widget"
                                                data-widget_type="ryancv-quote.default">
                                                <div class="elementor-widget-container">

                                                    <!-- Quote -->

                                                    <div class="content quote">

                                                        <!-- title -->
                                                        <div class="title">
                                                            <span>Favorite Quote</span>
                                                        </div>

                                                        <!-- content -->
                                                        <div class="row">
                                                            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                                                <div class="revs-item">
                                                                    <div class="text">
                                                                        <div>
                                                                            Keep Moving Forward </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- #post-41 -->
                </div>
            </div>

