                <div class="sidebar-wrap">


                    <aside id="secondary" class="widget-area">
                        <section id="block-2" class="widget widget_block widget_search">
                            <form role="search" method="get" action="/search/"
                                class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
                                <label for="wp-block-search__input-1" class="wp-block-search__label">Search</label>
                                <div class="wp-block-search__inside-wrapper ">
                                    <input type="search" id="wp-block-search__input-1" class="wp-block-search__input "
                                        name="s" value="" placeholder="" required><button type="submit"
                                        class="wp-block-search__button  ">Search</button>
                                </div>
                            </form>
                        </section>
                        <section id="block-3" class="widget widget_block">
                            <div class="wp-container-1 wp-block-group">
                                <div class="wp-block-group__inner-container">
                                    <h2>Recent Posts</h2>
                                    <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                                        {{ range first 5 (where site.RegularPages "Section" "blog") }}
                                        <li><a class="wp-block-latest-posts__post-title" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </section>                                   
                        <section id="block-6" class="widget widget_block">
                            <div class="wp-container-4 wp-block-group">
                                <div class="wp-block-group__inner-container">
                                    <h2>Categories</h2>
                                    <ul class="wp-block-categories-list wp-block-categories">
                                        {{ range site.Taxonomies.categories.ByCount }}
                                        <li class="cat-item"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </aside><!-- #secondary -->
                </div>

                <span class="close"></span>
            </div>



